*ipynb_checkpoints*
*__pycache__*
*.vscode*
*conda/*
*uncertainty_output_folder/*
error*.log
output*.log
*RMG-Py/*
*RMG-database/*
*.out*
*ReactionMechanismSimulator.jl/*
*/baseline/*
*/global_unc/*.log
*/global_unc/*.dat
*/global_unc/*.png
*/global_unc/*.eps
*/global_unc/*.txt
*/global_unc/*.pk
*.inp
*/rms/*
*/testing/*.png
